## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [9]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Arraial Do Cabo,BR,-22.9661,-42.0278,85.86,58,0,13.80,clear sky
1,1,Rikitea,PF,-23.1203,-134.9692,77.18,77,84,16.06,broken clouds
2,2,Busselton,AU,-33.6500,115.3333,57.22,73,33,10.40,scattered clouds
3,3,Bend,US,44.0582,-121.3153,41.99,70,0,5.01,clear sky
4,4,East London,ZA,-33.0153,27.9116,76.14,60,0,4.61,clear sky

In [10]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Arraial Do Cabo,BR,-22.9661,-42.0278,85.86,58,0,13.80,clear sky
1,1,Rikitea,PF,-23.1203,-134.9692,77.18,77,84,16.06,broken clouds
4,4,East London,ZA,-33.0153,27.9116,76.14,60,0,4.61,clear sky
8,8,Aquiraz,BR,-3.9014,-38.3911,89.69,80,80,13.27,broken clouds
10,10,Georgetown,MY,5.4112,100.3354,83.95,89,20,2.30,heavy intensity rain
15,15,Buckeye,US,33.3703,-112.5838,79.20,25,0,0.00,clear sky
22,22,Hithadhoo,MV,-0.6000,73.0833,82.63,77,100,15.17,overcast clouds
32,32,Uthal,PK,25.8072,66.6219,84.33,66,0,14.07,clear sky
33,33,Tiarei,PF,-17.5333,-149.3333,77.02,80,100,10.16,light rain
36,36,Atuona,PF,-9.8000,-139.0333,78.91,79,10,17.18,clear sky

In [14]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                213
City                   213
Country                211
Lat                    213
Lng                    213
Max Temp               213
Humidity               213
Cloudiness             213
Wind Speed             213
Current Description    213
dtype: int64

In [18]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Arraial Do Cabo,BR,-22.9661,-42.0278,85.86,58,0,13.80,clear sky
1,1,Rikitea,PF,-23.1203,-134.9692,77.18,77,84,16.06,broken clouds
4,4,East London,ZA,-33.0153,27.9116,76.14,60,0,4.61,clear sky
8,8,Aquiraz,BR,-3.9014,-38.3911,89.69,80,80,13.27,broken clouds
10,10,Georgetown,MY,5.4112,100.3354,83.95,89,20,2.30,heavy intensity rain
...,...,...,...,...,...,...,...,...,...,...
701,701,Prado,BR,-17.3411,-39.2208,82.54,59,2,8.23,clear sky
707,707,Matara,LK,5.9485,80.5353,80.74,87,12,7.76,few clouds
708,708,El Vigia,VE,8.6219,-71.6506,89.98,48,33,4.94,scattered clouds
709,709,Boca Do Acre,BR,-8.7522,-67.3978,83.82,68,100,3.80,overcast clouds
710,710,Qui Nhon,VN,13.7667,109.2333,77.22,77,97,18.52,overcast clouds

In [19]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,85.86,clear sky,-22.9661,-42.0278,
1,Rikitea,PF,77.18,broken clouds,-23.1203,-134.9692,
4,East London,ZA,76.14,clear sky,-33.0153,27.9116,
8,Aquiraz,BR,89.69,broken clouds,-3.9014,-38.3911,
10,Georgetown,MY,83.95,heavy intensity rain,5.4112,100.3354,
15,Buckeye,US,79.20,clear sky,33.3703,-112.5838,
22,Hithadhoo,MV,82.63,overcast clouds,-0.6000,73.0833,
32,Uthal,PK,84.33,clear sky,25.8072,66.6219,
33,Tiarei,PF,77.02,light rain,-17.5333,-149.3333,
36,Atuona,PF,78.91,clear sky,-9.8000,-139.0333,

In [20]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,85.86,clear sky,-22.9661,-42.0278,Pousada Porto Praia
1,Rikitea,PF,77.18,broken clouds,-23.1203,-134.9692,People ThankYou
4,East London,ZA,76.14,clear sky,-33.0153,27.9116,Tu Casa
8,Aquiraz,BR,89.69,broken clouds,-3.9014,-38.3911,Pousada Rua Camurupim
10,Georgetown,MY,83.95,heavy intensity rain,5.4112,100.3354,Cititel Penang
...,...,...,...,...,...,...,...
701,Prado,BR,82.54,clear sky,-17.3411,-39.2208,INN CORNER RIVER - PRADO - BAHIA - HOUSING AND...
707,Matara,LK,80.74,few clouds,5.9485,80.5353,Amaloh Boutique Resort
708,El Vigia,VE,89.98,scattered clouds,8.6219,-71.6506,Liceo Bolivariano 19 De Abril
709,Boca Do Acre,BR,83.82,overcast clouds,-8.7522,-67.3978,Hotel Sao Pedro
710,Qui Nhon,VN,77.22,overcast clouds,13.7667,109.2333,Khách sạn Hải Âu Quy Nhơn - Seagull Hotel

In [28]:
# 8a. Create the output File (CSV)
output_data_file = "VacationPy_Database.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [38]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]

In [39]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))